/* 외부 폰트 */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');

@font-face {
    font-family: "jua";
    src: url(../fonts/BMJUA_ttf.ttf);
}
@font-face {
    font-family: "dohyeon";
    src: url(../fonts/BMDOHYEON_ttf.ttf);
}

/* div, p, a border: 테스트용 */
/*div, p, a {
    border-style: dashed;
    border-width: 1px;
} /**/

/* 기본 텍스트 */
html, body {
    font-family: "Nanum Gothic";
    line-height: 150%;
    font-size: xx-large;

    width : 100%;
	height : auto;
	margin : 0;
	padding : 0;
	border : none;
}
/* h1: 페이지 제목 */
h1 {
    font-family: "dohyeon";
    font-size: xx-large;
    padding: 10px;
    text-align: inherit;
}
/* h2: 기사 제목 */
h2 {
    font-family: "Nanum Gothic";
    font-size: xx-large;
}
/* h3: 소제목 */
h3 {
    font-family: "Nanum Gothic";
    font-size: x-large;
}
/* 기본 p */
p {
    font-family: "Nanum Gothic";
    font-size: large;
}
/* 인용구 p */
p.quotation {
    font-style: italic;
    font-size: medium;
    color: #555;
    margin-left: 20px;
    padding: 5px;
    padding-left: 15px;

    border-left-style: solid;
    border-left-width: 5px;
    border-color: #555;

    background-color: #eee;
}

/* 기본 테이블 */
table {
    font-family: "Nanum Gothic";
    border-color: black;
    padding: 0%;
}

/* 하이퍼링크 */
a {
    text-decoration: none;
    color: inherit;
}

/* 메인 컨테이너 */
div.mainContainer {
    display: flex;
    flex-direction: column;
    /*
    grid-template-areas:
    "header header header"
    "activity activity activity"
    "lunch lunch lunch"
    "file calendar form"
    "footer footer footer";*/

    width: 100%;
    border-style: hidden;
    gap: 5px;
    justify-content: space-between;
}

/* 헤더 */
div.header {
    grid-area: header;
}
div.title {
    width: 100%;
}

/* 부서 활동 */
div.activityContainer {
    padding: 10px;

    grid-area: activity;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/* 각 부서별 활동 */
div.singleActivity {
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

    display: grid;
    grid-template-areas: 
    "thumbnail name"
    "thumbnail link";
    grid-template-columns: 120px auto;
}
/* 활동 썸네일 */
div.activityThumbnail {
    grid-area: thumbnail;
}
img.thumbnail {
    width: 100px;
    margin: 5%;
    padding: 5%;
    border-radius: 10px;
    background-color: white;
}
/* 부서명 */
div.groupName {
    grid-area: name;
    background-color: #ddd;
    border-radius: 10px;
    margin: 5px;
    font-weight: bold;
}
/* 활동 링크 */
div.activityLink {
    grid-area: link;
    border-radius: 10px;
    padding: 15px;
}

/* 설문 */
div.formContainer {
    grid-area: form;
    text-align: center;

    background-color: #ddd;
    padding: 20px;
}

/* 요일별 정보 */
div.dayContainer {
    grid-area: lunch;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
/* 일별 정보 */
div.singleDay {
    border-style: dashed;
    border-width: 2px;
    border-color: #555;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    flex: 1 0 400px;
}
/* 날짜 */
div.dayTitle {
    background-color: #ddd;
    border-radius: 10px;
    margin: 5px;
    font-weight: bold;
}
/* 청소 당번 */
div.dayCleaning {
    border-bottom-color: #ddd;
    border-bottom-style: solid;
    border-width: 2px;
    margin-left: 20%;
    margin-right: 20%;

    color: #446;
}

/* 파일 컨테이너 */
div.fileContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
}
/* 스케줄 컨테이너 */
div.scheduleContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
}
/* 목록 컨테이너 제목 */
div.listContainerTitle {
    background-color: #ddd;
    border-radius: 10px;
    margin: 5px;
    font-size: inherit;
    font-weight: bold;
    width: 30%;
}
/* 항목 컨테이너 */
div.listItemContainer {
    display: flex;
    flex-direction: column;
    flex: 1 0 200px;
}
/* 리스트 각 항목 */
div.listItem {
    border-bottom-color: #ddd;
    border-bottom-style: solid;
    border-width: 2px;

    height: 50px;
    margin-left: 10px;
    margin-right: 10px;

    font-weight: bold;
    color: #222;
}

/* 청소 */
div.cleaningContainer {
    grid-area: cleaning;
    display: flex;
}

/* 개별 파일 링크 */
a.fileLink {
    border-bottom-color: #ddd;
    border-bottom-style: solid;
    border-width: 2px;

    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;

    font-weight: bold;
    color: #222;
}

/* 하단 */
div.footer {
    grid-area: footer;
    text-align: center;
    background-color: #222;
    color: #aaa;
    padding: 5px;
}

/* 기사 컨테이너 */
div.articleContainer {
    font-size: large;
    width: 100%;
    height: 100%;
    
    border-width: 1px;
    border-style: dashed;

    text-align: left;
}
/* 저자별 기사 컨테이너 */
div.articleInfo {
    color: inherit;
}
/* 기사 썸네일 칸 */
div.articleThumbnail {
    width: 15%;
}
/* 기사 제목과 저자 칸 */
div.articleLink {
    text-align: left;
    font-size: x-large;
    width: 85%;
}

/* 개별 기사 버튼 */
table.buttonContainer {
    width: 100%;
    text-align: center;
    
    background-color: #222;
}
td.button {
    width: 20%;
    padding: 10px;
    font-size: x-large;
    border-width: 5px;
}
td.button:hover {
    background-color: #333;
}
a.button {
    color: white;
    text-decoration: none;
}
