/* 외부 폰트 */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/* div, p, a border: 테스트용 */
/*div, p, a {
    border-style: dashed;
    border-width: 1px;
} /**/

/* 기본 텍스트 */
html {
    -webkit-text-size-adjust : none;  /* 크롬, 사파리, 오페라 신버전 */
    -ms-text-size-adjust : none;  /* IE */
    -moz-text-size-adjust : none;  /* 파이어폭스 */
    -o-text-size-adjust : none;  /* 오페라 구버전 */
}

body {
    line-height: 150%;

    width : 100%;
	height : auto;
	margin : 0;
	padding : 0;
	border : none;

    font-size: 200%;
}
/* h1: 페이지 제목 */
h1 {
    font-family: "Do Hyeon";
    font-size: 250%;
    padding: 10px;
    text-align: inherit;
}

/* 하이퍼링크 */
a {
    font-family: "Nanum Gothic";
    color: inherit;
}

/* 메인 컨테이너 */
div.mainContainer {
    font-family: "Nanum Gothic";
    display: flex;
    flex-direction: column;
    /*
    grid-template-areas:
    "header header header"
    "activity activity activity"
    "lunch lunch lunch"
    "file calendar form"
    "footer footer footer";*/

    width: 100%;
    border-style: hidden;
    gap: 5px;
    justify-content: space-between;
}

/* 헤더 */
div.header {
    grid-area: header;
}
div.title {
    width: 100%;
}

/* 부서 활동 */
div.activityContainer {
    grid-area: activity;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/* 각 부서별 활동 */
div.singleActivity {
    background-color: #eee;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

    display: grid;
    grid-template-areas: 
    "thumbnail name"
    "thumbnail link";
    grid-template-columns: 120px auto;
}
/* 활동 썸네일 */
div.activityThumbnail {
    grid-area: thumbnail;
}
img.thumbnail {
    width: 100px;
    margin: 5%;
    padding: 5%;
    border-radius: 10px;
    background-color: white;
}
/* 부서명 */
div.groupName {
    grid-area: name;
    background-color: #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;

    font-size: 100%;
    font-weight: bold;
}
/* 활동 링크 */
div.activityLink {
    grid-area: link;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    padding-left: 15px;

    font-size: 100%;
}

/* 설문 */
div.formContainer {
    grid-area: form;
    text-align: center;
    background-color: #ddd;
    padding: 20px;

    font-size: 100%;

}
a.classForm {
    font-weight: bold;
}

/* 요일별 정보 */
div.dayContainer {
    grid-area: lunch;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
/* 일별 정보 */
div.singleDay {
    border-style: solid;
    border-width: 2px;
    border-color: #bbb;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    flex: 1 0 300px;
    justify-content: space-between;

    font-size: 100%;
}
div.singleDay > div {
    height: fit-content;
}
/* 날짜 */
div.dayTitle {
    background-color: #ddd;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;

    font-weight: bold;
}
/* 청소 당번 */
div.dayCleaning {
    border-bottom-color: #ddd;
    border-bottom-style: solid;
    border-width: 2px;
    margin: 5%;
    padding: 10px;

    color: #444;
}

/* 파일 컨테이너 */
div.fileContainer {
    border-style: dashed;
    border-width: 2px;
    border-color: #555;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
}
/* 스케줄 컨테이너 */
div.scheduleContainer {
    border-style: dashed;
    border-width: 2px;
    border-color: #555;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
}
/* 목록 컨테이너 제목 */
div.listContainerTitle {
    background-color: #ddd;
    border-radius: 10px;
    margin: 5px;
    padding: 20px;
    width: 20%;
    
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}
/* 항목 컨테이너 */
div.listItemContainer {
    display: flex;
    flex-direction: column;
    flex: 1 0 200px;
}
/* 리스트 각 항목 */
div.listItem {
    border-bottom-color: #ddd;
    border-bottom-style: solid;
    border-width: 2px;

    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;

    font-size: 100%;
    font-weight: bold;
    color: #222;
}

/* 개별 파일 링크 */
a.fileLink {
    border-bottom-color: #ddd;
    border-bottom-style: solid;
    border-width: 2px;

    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;

    font-size: 100%;
    font-weight: bold;
    color: #222;
}

/* 하단 */
div.footer {
    grid-area: footer;
    text-align: center;
    background-color: #222;
    color: #aaa;
    padding: 5px;
}

/* 개별 기사 버튼 */
div.articleMenu {
    display: flex;
    width: 100%;
    text-align: center;
    background-color: #ddd;

    padding: 10px;
}
div.button {
    padding: 10px;
    border-width: 5px;
}
a.button {
    color: #444;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}
a.button:hover {
    color: #222;
    text-decoration: underline;
}

/* 기본 p */
p {
    font-family: "Nanum Myeongjo";
}
/* 기사 표제 */
p.articleTitle {
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}
/* 기사 부제 */
p.articleSubtitle {
    font-size: 150%;
    text-align: right;
}
/* 기사 저자 */
p.articleAuthor {
    font-size: 150%;
    color: #444;
    text-align: right;
}
/* 기사 내용 */
p.articleContent {
    text-indent: 10px;
    padding: 20px;
    font-size: 100%;
}
/* 기사 인용구 */
p.quotation {
    text-indent: 10px;
    color: #444;
    font-size: 100%;

    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    padding-left: 20px;

    border-left-style: solid;
    border-left-width: 5px;
    border-color: #666;

    background-color: #eee;
}
/* 기사 이미지 */
img.articleImg {
    width: 100%;
}